{% extends 'base.html.twig' %}

{% block title %}MathVenture | Collège{% endblock %}
{% block stylesheets %}
<link href="{{ asset('assets/css/class.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<section class="container">
    <h2 class="title">bienvenue au Collège !</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam.
        Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt.
    </p>
</section>
<section class="container" id="levels">
    <h2 class="title">tous les niveaux</h2>
    <div id="level">
    {% for niveau in liste_niveau %}
    <div class="case">
        <img src="{{ asset('assets/images/icons/book.png') }}" alt="Logo user" width="64" height="64">
        <h3 class="title">{{ niveau.name }}</h3>
        <p>Ensemble des cours de niveau : {{ niveau.name }}</p>
        <a class="button-p" href="college/{{ niveau.slug }}">En savoir plus</a>
    </div>
    {% endfor %}
</div>
</section>
<section class="container">
    <h2 class="title">au programme cette année</h2>
    <h3>Arithmétique et Calculs</h3>
    <ul>
        <li>Opérations de base (addition, soustraction, multiplication, division)</li>
        <li>Calculs avec les fractions, les décimaux et les pourcentages</li>
        <li>Puissances et racines carrées</li>
        <li>Calculs littéraux</li>
    </ul>

    <h3>Algèbre</h3>
    <ul>
        <li>Équations du premier degré à une inconnue</li>
        <li>Systèmes d'équations</li>
        <li>Factorisation</li>
        <li>Manipulation des expressions algébriques</li>
    </ul>

    <h3>Géométrie</h3>
    <ul>
        <li>Notions de base sur les figures géométriques (points, droites, segments, angles)</li>
        <li>Propriétés des triangles et quadrilatères</li>
        <li>Théorème de Pythagore et de Thalès</li>
        <li>Introduction à la géométrie dans l'espace</li>
    </ul>

    <h3>Statistiques et Probabilités</h3>
    <ul>
        <li>Collecte et représentation de données</li>
        <li>Moyennes, médianes et modes</li>
        <li>Probabilités simples</li>
    </ul>
</section>
{% endblock %}