<header>
    <nav id="main_nav">
        <div id="logo_container">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('assets/images/logo_horizontal_text_blanc.svg') }}" alt=""/>
            </a>
        </div>
        <ul id="nav_container">
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_college') }}">Collège</a></li>
            <li><a href="{{ path('app_lycee') }}">Lycée</a></li>
            <li><a href="{{ path('app_quizz') }}">Quizz</a></li>
        </ul>
        {% if app.user %}
        <div class="user_actions">
            <p>Bonjour {{app.user.firstname}}</p>
            <ul id="connected_container">
                <li><a href="{{ path('app_user') }}"><img class="user_account" src="{{ asset('assets/images/user_account.svg') }}" alt=""/></a></li>
                <li><a href="{{ path('app_logout') }}"><img class="user_account" src="{{ asset('assets/images/logout.svg') }}" alt=""/></a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}"><img class="user_account" src="{{ asset('assets/images/cog.svg') }}" alt=""/></a></li>
                {% endif %}
            </ul>
        </div>
        {% else %}
        <ul id="connexion_container">
            <li><a class="button-y" href="{{ path('app_login') }}">Connexion</a></li>
            <li><a class="button-y" href="{{ path('app_register') }}">Inscription</a></li>
        </ul>
        {% endif %}
    </nav>
    <div id="wave"></div>
</header>