<header>
    <nav id="main_nav">
        <div id="logo_container">
            <a href="{{ path('app_homepage_index') }}">
                <img src="{{ asset('assets/images/logo_horizontal_text_blanc.svg') }}" alt="" />
            </a>
        </div>
        <ul id="nav_container">
            <li><a href="{{ path('app_homepage_index') }}">Accueil</a></li>
            <li><a href="{{ path('app_college') }}">Collège</a></li>
            <li><a href="{{ path('app_lycee') }}">Lycée</a></li>
            <li><a href="{{ path('app_quizz') }}">Quizz</a></li>
        </ul>
        <div id="connexion_container">
            <a href="{{ path('app_login') }}" class="button-y">Connexion</a>
            <a href="{{ path('app_register') }}" class="button-y">Inscription</a>
        </div>
    </nav>
</header>