{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Hello {{app.user.firstname}}</h1>
<div class="edit_user">
    {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
    {{ form_end(form) }}
</div>
<a href="{{ path('app_user') }}">Retour ◀️</a>
{% endblock %}
